<!doctype html>
<html lang="en">

<head>
  <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/travel-filled-line-4/64/Travel-Filled-14-512.png"
  type="image/x-icon">
  <title>Train Inserted</title>
</head>

<body>
  <center>
  
  <div class="success">
    <h1><strong>Success!</strong> TRAIN {{Trainnamez}} HAS BEEN INSERTED IN DATABASE </h1>
  </div>
  </center>
</body>


    <style>
    div {
      margin-bottom: 15px;
      padding: 4px 12px;
    }
    
    
    
    .success {
      background-color: #ddffdd;
      border-left: 6px solid #04AA6D;
    }
    
    </style>


</html>